div#footer.my-10
    div.container.text-center
        p Made with ❤️ and lots of duct tape.
script#themeswitch.
    const themeSwitch = document.querySelector('#theme-switch');
    const currentTheme = localStorage.getItem('theme');
    if (currentTheme) {
        document.body.classList.add(`${currentTheme}`);
        if (currentTheme === 'dark') {
            themeSwitch.checked = true;
        }
    } else {
        const userPrefersDark = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;
        if (userPrefersDark) {
            document.body.classList.add('dark');
            document.documentElement.classList.add('dark');
            document.body.classList.remove('light');
            document.documentElement.classList.remove('light');
            localStorage.setItem('theme', 'dark');
            themeSwitch.checked = true;
        } else {
            document.body.classList.remove('dark');
            document.documentElement.classList.remove('dark');
            document.body.classList.add('light');
            document.documentElement.classList.add('light');
            localStorage.setItem('theme', 'light');
            themeSwitch.checked = false;
        }
    }
    themeSwitch.addEventListener('change', function () {
        if (this.checked) {
            document.body.classList.add('dark');
            document.documentElement.classList.add('dark');
            document.body.classList.remove('light');
            document.documentElement.classList.remove('light');
            localStorage.setItem('theme', 'dark');
        } else {
            document.body.classList.remove('dark');
            document.documentElement.classList.remove('dark');
            document.body.classList.add('light');
            document.documentElement.classList.add('light');
            localStorage.setItem('theme', 'light');
        }
    });
script#matomo.
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function () {
        var u = "//analytics.haiiro.moe/";
        _paq.push(['setTrackerUrl', u + 'matomo.php']);
        _paq.push(['setSiteId', '1']);
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.async = true;
        g.src = u + 'matomo.js';
        s.parentNode.insertBefore(g, s);
    })();
script#trailslash.
    document.querySelectorAll('a').forEach(link => {
        if ((link.href.startsWith("/") || link.href.startsWith('http')) && !link.href.endsWith('/')) {
            link.href += '/';
        }
    });
script#highlight(src="/highlight/highlight.min.js")
script hljs.highlightAll();
script#hashes.
    const url = new URL(window.location.href);
    // If we have a hash, scroll to it (plus a little bit of padding for the nav)
    if (url.hash) {
        const el = document.querySelector(url.hash);
        if (el) {
            setTimeout(()=>{
                el.scrollIntoView({behavior: 'smooth', block: 'start', inline: 'nearest'});
                window.scrollBy(0, -document.querySelector('#nav').clientHeight);
            }, 10);
        }
    }