div#nav
    div.links.container
        a(href="/", class=`link${currentPage === 'home' ? " active": ''}`) home
        a(href="/posts", class=`link${currentPage === 'posts' ? " active": ''}`) posts
        div.logo haiiro
        a(href="/links", class=`link${currentPage === 'links' ? " active" : ''}`) links
        a(href="/about", class=`link${currentPage === 'about' ? " active" : ''}`) about