// General styles
@import "general/body";
@import "general/containers";
@import "general/typography";
@import "general/headings";
@import "general/images";
@import "general/links";
@import "general/lists";
@import "general/spacing";

// Schemes
@import "schemes/light";
@import "schemes/dark";
@import "schemes/themeSwitch";

// Components
@import "components/nav";
@import "components/post";
@import "components/posts";

// Home page (literally just the haiiro link)
.link-haiiro {
  margin-top: 50px;

  img {
    max-width: 400px;
    transition: transform 0.3s, opacity 0.3s;
    transform: scale(1);
    opacity: 1;
  }

  &:hover {
    img {
      transform: scale(1.05);
      opacity: 0.9;
    }
  }
}
