<script>
    // css template string
    const css = (strings, ...values) => {
        let content = '';
        strings.forEach((string, i) => {
            content += string + (values[i] || '');
        });
        return content;
    };

    (function () {
        // Get site avatar
        const siteAvatar = document.querySelector('.site-avatar');
        // Get img element
        const img = siteAvatar.querySelector('img');

        // Add loaded class when image is loaded
        img.addEventListener('load', () => {
            siteAvatar.classList.add('loaded');
        });

        // if not home page, return
        if (window.location.pathname !== '/') {
            return;
        }

        const newHeader = document.createElement('header');
        newHeader.innerHTML = `
            <div class="container">
                <div class="logo">
                    <div class="en">Haiiro</div>
                    <div class="jp">灰色</div>
                </div>
                <div class="text">
                    <div>
                        A small blog for a decent sized person.
                    </div>
                </div>
                <div class="arrow-down"></div>
            </div>
        `;

        const target = document.querySelector('main.main');
        target.insertBefore(newHeader, target.firstChild);

        // insert style
        document.head.appendChild(newHeaderStyle);
    })();
</script>