<script>
    // css template string
    const css = (strings, ...values) => {
        let content = '';
        strings.forEach((string, i) => {
            content += string + (values[i] || '');
        });
        return content;
    };

    (function () {
        // Get site avatar
        const siteAvatar = document.querySelector('.site-avatar');
        // Get img element
        const img = siteAvatar.querySelector('img');

        // Add loaded class when image is loaded
        img.addEventListener('load', () => {
            siteAvatar.classList.add('loaded');
        });

        // if not home page, return
        if (window.location.pathname !== '/') {
            return;
        }

        const newHeader = document.createElement('header');
        newHeader.innerHTML = `
            <div class="container">
                <div class="logo">
                    <div class="en">Haiiro</div>
                    <div class="jp">灰色</div>
                </div>
                <div class="text">
                    <div>
                        A small blog for a decent sized person.
                    </div>
                </div>
                <div class="arrow-down"></div>
            </div>
        `;

        const newHeaderStyle = document.createElement('style');
        newHeaderStyle.innerHTML = css`
          main > header {
            color: var(--card-text-color-main);
            height: calc(100vh - var(--main-top-padding));
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
          }

          main > header .logo {
            font-size: 10rem;
            font-weight: bold;
            text-align: center;
            line-height: 0;
            margin-bottom: 10rem;
          }

          main > header .logo .en {
            font-family: 'Montserrat', sans-serif;
          }

          main > header .logo .jp {
            opacity: 0.3;
            transform: rotate(12deg);
          }

          main > header .text {
            font-size: 2rem;
            text-align: center;
            opacity: 0.5;
          }

          main > header .text a {
            color: var(--card-text-color-main);
          }

          main > header .arrow-down {
            position: absolute;
            bottom: 5rem;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border-left: 1rem solid transparent;
            border-right: 1rem solid transparent;
            border-top: 1rem solid var(--card-text-color-main);
            animation: arrow-down 1s infinite;
          }

          @keyframes arrow-down {
            0% {
              transform: translateX(-50%) translateY(0);
            }
            50% {
              transform: translateX(-50%) translateY(1rem);
            }
            100% {
              transform: translateX(-50%) translateY(0);
            }
          }
        `;

        const target = document.querySelector('main.main');
        target.insertBefore(newHeader, target.firstChild);

        // insert style
        document.head.appendChild(newHeaderStyle);
    })();
</script>