.post-card {
  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  .image {
    img {
      aspect-ratio: 8/3;
      object-fit: cover;
      width: 100%;
    }
  }

  .image + .header {
    padding-top: 15px;
  }

  .header {
    .title {
      font-size: 1.5rem;
      margin-bottom: 0;
    }

    .description {
      font-size: 1rem;
      color: var(--neutral-500);
    }

    .date {
      font-size: 0.75rem;
      color: var(--neutral-500);
      margin-bottom: 0;
    }
  }
}