@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Nanum+Gothic+Coding:wght@400;700&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Aleo', serif;
}

#nav .logo {
  font-family: 'Aleo', serif;
}

body {
  font-family: 'Nanum Gothic Coding', monospace;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}